.widget
  .widget-title
    i(class='fa fa-weixin')= ' ' + __('wechat_official_account')
  img.nofancybox#wechat_official_account(src='#{theme.wechat_official_account}' alt='wechat' height='100%' width='100%')
