#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a#title(href=url_for('.'), rel='nofollow')= config.title
  | |
  span#total-count-title Site words total count
  span#total-count-value= totalcount(site, '0, 0.0a')
